/* --- Color Palette ---
Primary: #1292B9
Secondary: #1E5578
light: #FEFDF9
Dark: #1B2729 */

/* ----- General styling ----- */
body {
  background-color: #FEFDF9;
  font-family: 'lato', sans-serif;
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.container-light {
  width: 100%;
  background-color: #FEFDF9;
}

.container-dark {
  width: 100%;
  background-color: #1B2729;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.highlight {
  color: #FEFDF9;
  background-color: #1292B9;
}

.invert {
  color: #1292B9;
  background-color: #FEFDF9;
}

.opaque {
  opacity: 0.75;
}

/* ----- Links ----- */
a, a:visited {
  color: #FEFDF9;
  text-decoration: none;
}

/* ----- Nav Menu ----- */
nav {
  display: flex;
  justify-content: space-between;
  height: 5em;
  width: 100%;
  z-index: 1;
  position: fixed;
  background-color: #1B2729;
  opacity: 0.95;
  align-items: center;
}

.slide-menu {
  display: inline-flex;
  margin-left: 0.25em;
  opacity: 1;
  background-color: #1B2729;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slide-menu li {
  padding: 1.3em 0.75em;
  font-size: 1.25em;
  letter-spacing: 1px;
  transition: all 250ms ease 25ms;
}

.slide-menu li a {
  color:#FEFDF9;
  text-align: center;
}

.slide-menu li:hover{
  background-color: #1292B9;
  cursor: pointer;
}

/* ----- Banner ----- */
.banner {
  background-image: url("../images/banner-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30em;
  width: 100%;
  display: flex;
  flex-flow: column;
  color: #1E5578;
  justify-content: center;
  align-items: center;
}

.banner-headline {
  background-color: #FEFDF9;
  opacity: 0.75;
  padding: 1.75em;
}

.banner h1 {
  font-size: 5em;
  margin-bottom: .25em;
  text-align: center;
}

.banner h5 {
  font-size: 2em;
  text-align: center;
}

/* ----- About Us content styling ----- */
.about {
  width: 80%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: auto;
  margin-top: 3em;
}

.about h3 {
  text-align: center;
  width: 9em;
  padding-bottom: 0.75em;
  border-bottom: 1px solid #1E5578;
  font-size: 2em;
}

.about p{
  line-height: 1.2;
  letter-spacing: 1.5px;
  font-size: 1.25em;
  padding: 1em;
}

.about span {
  font-size: 1.25em;
  letter-spacing: 1.5px;
  line-height: 1.2;
}

.extras {
  flex-flow: row;
  justify-content: space-around;
}

.blurb {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  padding: 2em;
  margin-bottom: 3em;
  width: 30%;
  height: auto;
  transition: color 200ms ease 0ms;
}

.fa-globe, .fa-gavel, .fa-hourglass {
  transition: all 650ms ease 50ms;
}

/* ----- Areas of practice ----- */
.areas {
  width: 80%;
  height: auto;
  color: #FEFDF9;
  margin-bottom: 5em;
  margin-top: 0.5em;
}

.heading {
  font-size: 2em;
  margin-top: 2.5em;
  margin-bottom: 0.25em;
  text-align: center;
}

.areas h3 {
  text-align: center;
  margin-bottom: 1.5em;
}

.areas ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

.areas ul li {
  margin: 1em 0;
  border: 2px solid #1292B9;
  border-radius: 5px;
}

.area-container {
  width: 20em;
  height: 15em;
}

.area {
  width: 20em;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all 500ms ease 50ms;
}

.area:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.area a {
  border-top: 2px solid #1292B9;
  border-left: 2px solid #1292B9;
  border-right: 2px solid #1292B9;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0.5em;
  opacity: 0.9;
  font-size: 1.25em;
  font-weight: bold;
  transition: all 250ms ease;
}

#family {
  background-image: url("../images/family.jpeg");
  background-size: cover;
}

#business {
  background-image: url("../images/start-up.jpg");
  background-size: cover;
}

#commercial {
  background-image: url("../images/handshake.jpeg");
  background-size: cover;
}

#civil {
  background-image: url("../images/law-books.jpeg");
  background-size: cover;
}

#consumer {
  background-image: url("../images/gavel.jpeg");
  background-size: cover;
}

#estate {
  background-image: url("../images/meeting.jpg");
  background-size: cover;
}

#probate {
  background-image: url("../images/contract-signing.jpeg");
  background-size: cover;
}

#employment {
  background-image: url("../images/startup-photos.jpg");
  background-size: cover;
}

#property {
  background-image: url("../images/property.jpeg");
  background-size: cover;
}

/* ----- Modals ----- */
.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.modal-bg {
  background: rgba(0,0,0,.6);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
}

.modal-main {
  position: fixed;
  width: 50%;
  height: auto;
  background: #FEFDF9;
  border-radius: 6px;
  top: 25%;
  left: 25%;
  z-index: 1;
}

.modal-main h1 {
  font-size: 2em;
  text-align: center;
  padding: 1em;
  border-bottom: #D9D9D9 1px solid;
}

.modal-main p {
  font-size: 1.25em;
  letter-spacing: 1.5;
  line-height: 1.5;
  padding: 2em;
}

.closer {
  position: absolute;
  cursor: pointer;
  top: 0.25em;
  left: 0.25em;
  transition: color 250ms ease;
}

.closer:hover {
  color: #1292B9;
}
/* ----- End of Modals ----- */

/* ----- Meet the team ----- */
.team {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: auto;
  margin-top: 2em;
  margin-bottom: 3em;
}

#meet-team {
  display: flex;
  flex-flow: column;
}

.team h1 {
  width: 100%;
  font-size: 2em;
  text-align: center;
}

.column {
  width: 46%;
  height: auto;
  display: flex;
  flex-flow: column;
  padding: 1em;
  align-items: center;
}

.column img {
  width: 20em;
  height: 29em;
}

.column h2 {
  font-size: 1.75em;
  text-align: center;
  margin: 1em 0;
}

.column h4 {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  margin-bottom: 1em;
}

.column p {
  font-size: 1.25em;
  letter-spacing: 1.5px;
}

/* ----- Footer styling ----- */
footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #FEFDF9;
  background-color: #1B2729;
  width: 80%;
  height: 5em;
  padding-bottom: 1em;
}

.contact {
  width: 80%;
  display: flex;
  color: #FEFDF9;
  padding: 2em;
}

.contact ul {
  padding: 0 2em;
  font-size: 1.25em;
}

.contact ul li {
  padding: 0.5em 0;
}

.contact ul a {
  text-decoration: underline;
  transition: all 250ms ease;
}

.contact ul a:hover {
  color: #1292B9;
}

.foo {
  font-size: 1.35em;
  text-decoration: underline;
}

/* ----- Social Icons ----- */
.social-wrapper {
	display: flex;
}

.social-icons {
	height: auto;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5em;
}

.circle {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	background: linear-gradient(220deg, #1292B9, #1E5578);
	border-radius: 50px;
	height: 25px;
	width: 25px;
	padding: 25px;
	transition: all 500ms ease 50ms;
  color: #FEFDF9;
}

.minify {
	transform: scale(-0.0);
	cursor: pointer;
}

.fa-facebook, .fa-instagram, .fa-linkedin {
	position: fixed;
	transition: all 500ms ease 200ms;
  color: #FEFDF9;
}
